doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/node_modules/bootstrap/dist/css/bootstrap/min.css')
    link(href="https://fonts.googleapis.com/css?family=PT+Mono", rel="stylesheet")
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    meta(name="description" content="")
    meta(name="author" content="")
    link(rel="icon" href="../../favicon.ico")
    title Album example for Bootstrap
    link(rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/album/")
    // Bootstrap core CSS
    link(href="./node_modules/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block content