extends ../layout

block content
    h1.mt-4 Dashboard
    button(id="btn" onclick="location.href='/video/upload'") Upload Video
    p.lead.mb-3 Welcome #{user}
    a.btn.btn-secondary(href='/users/logout') Logout
